.scrollbar {
    position: absolute;

    &--rear {
        &:before {
            position: absolute;
            top: 0;
            left: 50%;

            width: 0.3rem;
            height: 100%;

            content: "";
            transform: translateX(-50%);

            border-radius: 100rem;
            background-color: @minion;
        }
    }

    &--vertical {
        top: 2px;
        right: 0;
        bottom: 2px;

        width: 6px;

        border-radius: 3px;
    }

    &--horizontal {
        right: 2px;
        bottom: 2px;
        left: 2px;

        height: 6px;

        border-radius: 3px;
    }

    &__bar {
        transition: background-color 0.2s linear, width 0.2s ease-in-out;

        border-radius: 100rem;
        background-color: @smart;

        &--horizontal {
            height: 0.6rem;
        }

        &--vertical {
            width: 0.6rem;
        }
    }
}
