@import "~@talentsoft/hylia/main.less";
@import "~react-datepicker/dist/react-datepicker-cssmodules.css";

@phablet: 576px;
@tablet: 768px;
@laptop: 992px;
@desktop: 1200px;

// Import Utilities
@import "./utilities/variables.less";
@import "./utilities/reset.less";

// Atoms
@import "./atoms/scrollbar.less";

// Molecules
@import "./molecules/card.less";
@import "./molecules/navbar.less";

// Organisms
@import "./organisms/column.less";
@import "./organisms/header.less";
@import "./organisms/board.less";
@import "./organisms/filter.less";
@import "./organisms/slider.less";
@import "./organisms/ts-navbar.less";
@import "./organisms/panel-objective.less";
@import "./organisms/scale-chart.less";
@import "./organisms/scale-line.less";
@import "./organisms/popin.less";

// Templates
@import "./templates/grid.less";
@import "./templates/grid-objectives.less";
