.card {
    box-sizing: border-box;
    margin: 1rem;
    padding: 1rem;

    cursor: pointer;
    transition: box-shadow 1s;

    border-radius: @radius;
    background-color: @adept;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);

    &--add {
        position: relative;
        z-index: 100;
    }

    &__title {
        font-family: @condensed_regular;
    }

    &__textarea {
        font-family: @condensed_regular;
        font-size: 1.5rem;

        display: inline-block;
        overflow: hidden;

        width: 100%;
        padding: 0.5rem;

        resize: none;

        border: none;
        background: transparent;

        overflow-wrap: break-word;
    }

    &__overlaid {
        position: fixed;
        z-index: 98;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
    }
}
