.ts-objectives__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 4rem;

    background: @smart;
}

.account {
    display: flex;
    align-items: center;

    &-identity {
        font-family: @condensed_bold;
        font-size: 1.5rem;
        line-height: 1.6rem;

        padding-left: 1rem;

        color: @stormtrooper;

        &__job {
            font-family: @regular_regular;
            font-size: 1.4rem;

            display: block;
        }
    }

    &__actions {
        display: flex;

        padding-left: 2rem;

        li {
            font-size: 2rem;

            padding-left: 1rem;

            color: @stormtrooper;
        }
    }
}
