// BreakPoints
@phablet: 576px;
@tablet: 768px;
@laptop: 992px;
@desktop: 1200px;

// Grid variables
@gridColumn: 12;
@gutter: 1.5rem;

// calc((100% / total_number_of_columns * columns) - the gutter)
@suffixBreakpoints: xs, sm, md, lg;
@breakpoint: 0px, 750px, 970px, 1170px;
@numberColumns: 12;
@containerSize: 100%, 750px, 970px, 1170px;

// Mixin to launch the create Grid
.make-grid(@indexBreakpoint: length(@suffixBreakpoints)) when (@indexBreakpoint > 0) {
    .make-grid(@indexBreakpoint - 1);

    @suffix: extract(@suffixBreakpoints, @indexBreakpoint);
    @breakpointsize: extract(@breakpoint, @indexBreakpoint);
    @mediaQuery: ~"screen and (min-width: @{breakpointsize})";

    @media @mediaQuery {
        .make-col(@numberColumns, @suffix);
    }
}

// Mixin to create column
.make-col(@indexBreakpoint: @numberColumns, @prefix: @prefixArg) when (@indexBreakpoint > 0) {
    .make-col(@indexBreakpoint - 1, @prefix);
    @suffix: extract(@suffixBreakpoints, @indexBreakpoint);
    .col-@{prefix}-@{indexBreakpoint} {
        flex: 0 0 ((100% / @numberColumns * @indexBreakpoint));
        max-width: ((100% / @numberColumns * @indexBreakpoint));
    }
}

// Launch the mixin
.make-grid();

// Class Grid
[class^="col-"] {
    position: relative;
    padding-right: @gutter;
    padding-left: @gutter;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -@gutter;
    margin-left: -@gutter;
}

.container {
    width: 100%;
    margin: auto;
    padding-left: @gutter;
    padding-right: @gutter;

    @media screen and (min-width: @phablet) {
        width: 50rem;
    }

    @media screen and (min-width: @desktop) {
        width: 120rem;
    }
}
