#app {
    height: 100%;
}

.ongoing {
    display: flex;
    overflow-x: hidden;
    flex-direction: column;

    height: 100%;
    padding-top: 7rem;

    &__wrapper {
        position: relative;

        display: flex;
        flex-direction: column;
        flex-grow: 1;

        width: 100%;
        height: 100vh;
        min-height: 0;

        transition: all 0.5s;

        background-color: rgba(255, 255, 255, 0.75);
    }
}

.wrapper {
    &--full {
        padding: 0 7rem;
    }
}
