.board {
    display: flex;
    overflow-x: auto;
    flex: 1;
    flex-wrap: nowrap;

    box-sizing: border-box;
    height: 100%;
    padding: 2rem 0rem 3rem 7rem;

    &::-webkit-scrollbar {
        height: 0.8rem;
        margin-right: 0.2rem;
    }

    &::-webkit-scrollbar-track {
        background-color: @minion;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 100rem;
        background-color: @smart;
    }
}
