.column {
    position: relative;

    display: flex;
    flex: 0 0 31.5rem;
    flex-direction: column;

    box-sizing: border-box;
    margin-right: 3.5rem;

    border-radius: @radius;

    &__wrapper {
        position: relative;

        display: flex;
        overflow-y: auto;
        flex-direction: column;

        padding-right: 0.5rem;

        background-color: fade(@stormtrooper, 70%);

        &::-webkit-scrollbar {
            width: 0.7rem;
            margin-right: 0.2rem;
        }

        &::-webkit-scrollbar-track {
            background-color: @minion;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 100rem;
            background-color: @smart;
        }
    }

    &__add {
        font-family: @regular_regular;
        font-size: 1.6rem;

        padding: 2rem;

        cursor: pointer;
        transition: all 1s;

        color: @smart;
        border-top: 0.1rem solid @apprentice;
        border-radius: 0 0 @radius @radius;
        background-color: @adept;
    }
}

.column-header {
    position: relative;

    border-radius: @radius @radius 0 0;
    background-color: @adept;

    &__category {
        display: inline-block;

        width: 100%;
        height: 2rem;

        border-radius: @radius @radius 0 0;

        &:before {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            content: "";

            opacity: 0.05;
            background-color: inherit;
        }
    }

    &__wrapper {
        position: relative;
        z-index: 2;

        padding: 1rem;
    }

    &__title {
        display: flex;
        align-items: flex-start;

        padding-right: 2rem;
    }

    &__name {
        font-family: @condensed_bold;

        height: 5rem;
        margin-bottom: 2rem;
    }

    &__menu {
        font-size: 2rem;

        position: absolute;
        top: 1.5rem;
        right: 0;

        width: auto;
        height: auto;
        padding: 0 1rem;

        transition: color 0.5s;

        color: @knight;
        border: none;

        &:hover {
            color: @vader;
        }
    }

    //Override Hylia
    .panel-menu {
        bottom: 2.5rem;

        width: 25rem;

        &__item {
            height: 3rem;
        }
    }
}

@keyframes enterColumn {
    0% {
        transform: translate(0, 2rem);

        opacity: 0;
    }
    100% {
        transform: translate(0, 0);

        opacity: 1;
    }
}

.card-indicators {
    font-family: @regular_italic;
    font-size: 1.2rem;

    display: flex;
    align-items: center;

    margin: 0.5rem 0;

    li {
        &:not(:last-child) {
            padding-right: 2rem;
        }

        &:last-child {
            margin-left: auto;
        }
    }

    &__icon {
        font-size: 1.4rem;

        color: @knight;
    }

    &__tag {
        font-family: @regular_regular;

        margin: 0;
        padding: 0 1rem;

        color: @stormtrooper;
        background-color: @ruban;
    }

    &__collab {
        display: inline-block;

        width: 2.4rem;
        height: 2.4rem;

        border: 0.1rem solid @stormtrooper;
    }
}
