.filter {
    display: flex;
    overflow: hidden;
    justify-content: space-between;

    max-height: 0;

    transition: max-height 1s;

    border-bottom: @apprentice 0.1rem solid;
    background: @acolyte;

    &--active {
        max-height: 30rem;

        transition: max-height 1s;
    }

    &__list {
        display: flex;
    }

    &__wrapper {
        padding: 2rem 0;
    }

    &__title {
        padding-bottom: 2rem;
    }
}
