@heightHeight: 9rem;

.header {
    height: @heightHeight;
    margin-top: 5rem;

    &__sticky {
        display: flex;
        align-items: center;
        justify-content: space-between;

        height: @heightHeight;
        padding: 0 7rem;

        transition: padding 0s, background-color 0.5s, transform 0s;

        &--isSticky {
            .header__sticky {
                position: fixed;
                z-index: 1000;
                top: 0;
                right: 0;
                left: 0;

                width: 100%;
                height: 7rem;

                animation: appearHeader 0.5s forwards;

                background-color: @stormtrooper;
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
            }

            .navFixed {
                transition: transform 0.3s;
                transform: translate3d(0, -100%, 0);
            }

            .ongoing__wrapper {
                padding-top: 7rem;
            }
        }
    }

    &--full {
        padding: 0;

        border-radius: 0;
    }
}

@keyframes appearHeader {
    0% {
        transform: translate3d(0, -100%, 0);
    }
    100% {
        transform: translate3d(0, 0%, 0);
    }
}
