.panel-objective {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    animation: appearPanel 0.3s linear forwards;

    opacity: 0;
    border-radius: @radius;
    background-color: @adept;

    &__wrapper {
        display: flex;
        overflow-x: hidden;
        overflow-y: auto;
        flex: 1;

        margin: 4rem auto;

        @media screen and (min-width: @desktop) {
            width: 95%;
        }

        &::-webkit-scrollbar {
            width: 0.7rem;
            margin-right: 0.2rem;
        }

        &::-webkit-scrollbar-track {
            background-color: @minion;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 100rem;
            background-color: @smart;
        }
    }

    &__comment {
        .comment__wrapper {
            padding: 2rem 2rem;

            background: white;
        }

        .timeline {
            overflow: initial;
        }
    }
}

.panel-objective-header {
    position: relative;

    display: flex;
    flex-direction: column;

    border-radius: @radius @radius 0 0;
    background-color: @minion;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 1rem 2rem;
    }

    &__category {
        display: inline-block;

        width: 100%;
        height: 0.5rem;

        border-radius: 0.4rem 0.4rem 0 0;
        background-color: @smart;

        &:before {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            content: "";

            opacity: 0.05;
            background-color: inherit;
        }
    }

    &__buttonClose {
        width: 3.5rem;
        height: 3.5rem;
    }
}

@keyframes appearPanel {
    0% {
        // transform: translate(-50%, -30%) translateZ(0);
        opacity: 0;
    }

    100% {
        // transform: translate(-50%, -50%) translateZ(0);
        opacity: 1;
    }
}

.comment-post {
    position: relative;

    &:before {
        position: absolute;
        top: 0;
        left: 5rem;

        display: block;

        width: 0.6rem;
        height: 100%;

        content: "";

        background: @apprentice;
    }

    &__wrapper {
        position: relative;

        overflow-y: auto;

        height: 30rem;

        &::-webkit-scrollbar {
            width: 0.7rem;
            margin-right: 0.2rem;
        }

        &::-webkit-scrollbar-track {
            background-color: @minion;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 100rem;
            background-color: @smart;
        }
    }

    &__date {
        position: absolute;
        z-index: 10;
        top: -2rem;
        left: 3.5rem;
    }

    &__item {
        display: flex;

        margin-top: 2rem;
        padding-right: 2rem;
    }

    &__avatar {
        margin-right: 2rem;
        margin-left: 3.5rem;
    }

    &__message {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;

        border: 0.1rem solid @apprentice;
        border-radius: 0.4rem;
        background-color: @stormtrooper;
    }

    &__header {
        position: relative;

        display: flex;
        align-items: center;
        flex: 1;
        justify-content: space-between;

        margin: 2rem 2.5rem 0 2.5rem;
        padding-bottom: 1.5rem;

        &:before {
            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;
            height: 0.1rem;

            content: "";

            background-color: @apprentice;
        }
    }

    &__button {
        font-size: 2rem;
        font-size: 2rem;

        width: auto;
        height: auto;
        padding: 0 1rem;

        cursor: pointer;
        transition: color 0.5s;

        color: @knight;
        color: #AAAAAA;
        border: none;

        //Override Hylia Menu
        .panel-menu {
            width: 25rem;
        }
    }

    &__name {
        flex: 1;

        padding-right: 3rem;
    }

    &__time {
        width: 8rem;

        color: @knight;
    }

    &__text {
        font-family: @condensed_regular;

        margin: 2rem 2.5rem;
        padding-left: 8rem;
    }
}

.panel-objective-footer {
    display: flex;
    justify-content: flex-end;

    padding: 1rem 2rem;

    border-top: 0.1rem solid @apprentice;
    border-bottom-right-radius: @radius;
    border-bottom-left-radius: @radius;
    background-color: @stormtrooper;
}

//FIXME: WARNING
.panel-objective__flex {
    display: flex;
}

.panel-objective__layout {
    .col-lg-6 {
        padding: 0 5rem;

        &:first-child {
            border-right: 0.1rem solid @apprentice;
        }
    }
}

.panel-objective {
    &__row {
        margin-top: 5rem;
    }

    &__target {
        margin-right: 3rem;

        input {
            width: 4rem;
        }
    }

    &__datepicker, &__dropdown, &__private {
        display: flex;
        flex-direction: column;

        margin-right: 3rem;
    }

    &__private {
        .input__choice {
            margin-top: 1rem;
        }
    }
}

.react-datepicker__month-container {
    font-family: @regular_regular;
    font-size: 1.1rem;
}

.react-datepicker__current-month {
    font-family: @condensed_regular;
    font-size: 1.3rem;
}

.react-datepicker__day--selected {
    background-color: @terran;

    &:hover {
        background-color: @terran;
    }
}
