.modal-keyResult {
    width: 57rem;

    border: 0.5rem solid @smart;
    border-radius: @radius;
    background: @adept;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 2rem 2rem;

        background-color: @stormtrooper;
    }

    &__menu {
        color: @apprentice;
        border: none;

        &:hover {
            color: @smart;
        }

        //Override Hylia Panel Menu
        .panel-menu {
            bottom: 3rem;

            width: 15rem;
        }
    }

    &__title {
        font-family: @condensed_bold;
        font-size: 1.8rem;

        width: 80%;
        padding: 0.5rem;

        color: @smart;
        border: none;
        border-radius: @radius;

        &--active {
            border: 0.1rem solid @apprentice;
        }
    }

    &__wrapper {
        padding: 2rem;

        .label {
            display: block;
        }
    }
}

.modal-keyResult-footer {
    display: flex;
    justify-content: flex-end;

    padding: 1rem 2rem;

    border-top: 0.1rem solid @apprentice;
    border-bottom-right-radius: @radius;
    border-bottom-left-radius: @radius;
    background-color: @stormtrooper;
}

.tagEnter {
    &__list {
        display: flex;

        margin: 1rem 0;
    }

    &__tag {
        font-family: @condensed_regular;

        padding: 0.2rem 1rem;

        border-radius: 100rem;
        background: @apprentice;
    }

    &__icon {
        padding-right: 0.5rem;

        cursor: pointer;

        color: @knight;
    }
}
