.scaleChart {
    border-top: 0.3rem solid @smart;
    border-bottom: 0.3rem solid @smart;

    &__item {
        display: flex;
        align-items: center;

        padding: 1.5rem 0;

        &:not(:last-child) {
            border-bottom: 0.1rem solid @apprentice;
        }
    }

    &__icon {
        font-size: 1.4rem;

        display: flex;
        align-items: center;

        margin: 0 2rem;

        color: @smart;
    }

    &__indicator {
        width: 10%;

        text-align: center;
    }

    &__color {
        display: inline-block;

        width: 3rem;
        height: 3rem;

        border: 0.3rem solid @stormtrooper;
        border-radius: 100%;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    }

    &__interval {
        display: flex;
        align-items: center;

        width: 20%;
        margin: 0 2rem;

        sup {
            font-size: 1rem;

            position: relative;
            top: -0.5rem;
        }

        strong {
            width: 2rem;
        }

        .input-text__box {
            width: 100%;
            margin: 0 1rem;

            &:before {
                font-family: @regular_bold;
                font-size: 1.6rem;

                position: absolute;
                z-index: 1;
                top: 50%;
                right: 2.5rem;

                content: "%";
                transform: translateY(-50%);

                color: @smart;
            }
        }
    }

    &__check {
        width: 50%;

        .input-radio {
            padding: 0;
        }
    }
}
