.scaleLine {
    position: relative;

    margin-bottom: 2rem;
    padding-top: 4rem;
}

.scaleLine-tooltip {
    position: absolute;
    z-index: 3;
    bottom: -0.1rem;

    cursor: -webkit-grab;
    cursor:    -moz-grab;
    cursor: grap;
    transform: translateX(-50%);

    &:active {
        cursor: -webkit-grabbing;
        cursor:    -moz-grabbing;
        cursor:         grabbing;
    }

    &__pointer {
        font-size: 1.2rem;

        display: block;

        width: 1.7rem;
        height: 1.7rem;

        border: 0.1rem solid @apprentice;
        border-radius: 100rem;
        background: @stormtrooper;

        &--percent {
            margin: auto;
            margin-top: 1.5rem;
        }

        &--target {
            position: absolute;
            z-index: 100;
            bottom: -0.1rem;

            display: inline-flex;
            align-items: center;
            justify-content: center;

            &:after {
                font-family: @condensed_italic;
                font-size: 1.2rem;

                position: absolute;

                display: block;

                content: attr(data-target);
                transform: translateY(112%);
                white-space: nowrap;
            }
        }
    }

    &__number {
        font-family: @regular_bold;
        font-size: 1.2rem;

        position: relative;

        padding: 0.5rem;

        border-radius: 1000rem;
        background-color: @apprentice;

        &:before {
            position: absolute;
            bottom: 0;
            left: 50%;

            width: 0;
            height: 0;

            content: "";
            transform: translate(-50%, 100%);

            border-width: 0.5rem 0.5rem 0 0.5rem;
            border-style: solid;
            border-color: @apprentice transparent transparent transparent;
        }
    }
}

.scaleLine-progress {
    position: relative;

    height: 1.5rem;

    border-radius: 1000rem;
    background-color: @minion;

    &__state {
        position: absolute;
        top: 0;
        left: 0;

        height: 1.5rem;

        border-radius: 100rem;
    }
}
