.slider-slide {
    position: relative;

    display: flex;
    align-items: center;

    min-width: 24rem;
    margin: 1rem 1rem 1rem 0;
    padding: 0.9rem 1rem;

    cursor: pointer;

    border: 0.1rem solid @minion;
    border-radius: 100rem;
    background: @stormtrooper;

    &--active {
        border: 0.1rem solid @terran;
        background: fade(@terran, 10%);

        &:after {
            font-family: "talentsoft-font-icons" !important;
            line-height: 1rem;

            position: absolute;
            top: -0.5rem;
            right: -0.5rem;

            width: 1.5rem;
            height: 1.5rem;

            content: "\E98D";

            color: white;
            border-radius: 50%;
            background: @namek;
        }
    }
}

.card-person {
    padding-left: 1rem;

    &__picture {
        width: 4rem;
        height: 4rem;
    }

    &__firstname {
        font-family: @condensed_bold;
        line-height: 1rem;
    }

    &__lastname {
        font-family: @condensed_regular;
        font-size: 1.3rem;
        line-height: 1rem;
    }

    &__job {
        font-family: @condensed_italic;
        font-size: 1.3rem;
        line-height: 1.5rem;

        color: @knight;
    }

    &__icon {
        font-size: 2rem;

        margin-left: auto;
        padding-right: 1rem;

        color: @smart;
    }
}
