.navFixed {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

    width: 100%;
    height: 6rem;

    transition: transform 0.5s;
    transform: translate3d(0, 0, 0);

    background: #009CDE;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.navFixed .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    max-width: 1200px;
    height: 60px;
    margin: 0 auto;
}

.navFixed .header-container .logo {
    display: inline-flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 180px;
    height: 60px;

    cursor: pointer;

    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.navFixed .header-container .logo img {
    max-width: 130px;
    height: auto;
}

.navFixed .header-container .navigation {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 180px;
    height: 60px;

    cursor: pointer;
    transition: all 0.7s ease 0s;

    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.navFixed .header-container .navigation span.module-name {
    font-family: "RobotoCondensed_light";

    text-transform: uppercase;

    color: #FFFFFF;
}

.navFixed .header-container .navigation span[class*="icon"] {
    margin-left: 5px;

    transition: all 0.7s ease-in-out 0.25s;

    color: #FFFFFF;
}

.navFixed .header-container .navigation.active {
    z-index: 999;

    height: 61px;
}

.navFixed .header-container .navigation.active span[class*="icon"] {
    transform: rotate(180deg);
}

.navFixed .header-container .search-area {
    display: inline-flex;
    flex-grow: 2;

    height: 60px;

    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.navFixed .header-container .search-area input {
    font-family: "RobotoCondensed_regular";
    font-size: 14px;
    font-style: italic;

    display: block;
    align-self: center;

    box-sizing: border-box;
    width: 100%;
    height: 35px;
    min-height: 35px;
    margin: 0 10px;
    padding: 0 10px;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #333333;
    border: 0;
    border-radius: 30px;
    outline: 0;
    background-color: #FFFFFF;
}

.navFixed .header-container .notification-area {
    display: inline-flex;
    justify-content: center;

    width: 60px;
    height: 60px;

    cursor: pointer;
    transition: all 0.7s ease 0s;

    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.navFixed .header-container .notification-area span {
    font-size: 1.4em;

    align-self: center;

    color: #FFFFFF;
}

.navFixed .header-container .settings-cta {
    display: inline-flex;
    justify-content: center;

    width: 60px;
    height: 60px;

    cursor: pointer;
    transition: all 0.7s ease 0s;

    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.navFixed .header-container .settings-cta span {
    font-size: 1.4em;

    align-self: center;

    transition: all 0.7s ease 0s;

    color: #FFFFFF;
}

.navFixed .header-container .user-area {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;

    width: 240px;
    height: 60px;
}

.navFixed .header-container .user-area .picture-user {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 10px;
}

.navFixed .header-container .user-area .picture-user img {
    max-width: 30px;
    height: auto;

    border-radius: 30px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.navFixed .header-container .user-area .message-user {
    font-family: "RobotoCondensed_regular";
    font-size: 14px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 2;
    justify-content: center;

    padding-left: 10px;

    color: #FFFFFF;
}

.navFixed .header-container .user-area .logout {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 60px;
    height: 60px;

    cursor: pointer;
    transition: all 0.7s ease 0s;

    color: #FFFFFF;
}

.navFixed .header-container .user-area .logout span {
    font-size: 1.2em;
}

.navFixed .navigation-area {
    position: absolute;
    top: 60px;

    overflow: hidden;

    width: 100%;
    height: 0;

    transition: all 0.7s ease-in-out 0.25s;

    border-top: 1px solid rgba(255, 255, 255, 0.25);
    background-color: #00213E;
}

.navFixed .navigation-area.active {
    height: 100vh;
}

.navFixed .navigation-area.active .navigation-content {
    max-width: 1200px;
    margin: 0 auto 0 auto;

    transition: all 0.7s ease 0s;
}
